aiohttp>=3.11.13
beautifulsoup4>=4.13.3
PyMuPDF>=1.25.3
aiosqlite>=0.21.0
lxml>=5.3.1
asyncio>=3.4.3
urllib3>=2.3.0
certifi>=2025.1.31
SQLAlchemy>=2.0.39
python-dotenv>=1.0.1
aiodns>=3.2.0
cchardet>=2.1.7
httpx>=0.28.1
tenacity>=9.0.0
brotli>=1.0.9